<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ak.commons.configuration" type="AK.Commons.Configuration.Sections.ApplicationSettingsConfigurationSection, AK.Commons"/>
  </configSections>
  <ak.commons.configuration>
    <applicationSettings>
      <application>
        <settings />
        <tokens />
      </application>
      <application name="AKLoginTests">
        <settings>
          <setting name="BaseUrl" type="System.String" value="http://www.test.com" />
          <setting name="RequireSsl" type="System.Boolean" value="false" />
          <setting name="IsRelaxedSecurityMode" type="System.Boolean" value="true" />
          <setting name="Google.ApplicationName" type="System.String" value="AKLoginTests" />
          <setting name="Google.ClientSecretPath" type="System.String" value="TestGoogleClient.json" />
          <setting name="Facebook.AppKey" type="System.String" value="93a463260e82282a03d13de7f2abbc74" />
          <setting name="ak.commons.composition.modulesdirectories" type="System.String" value="" />
          <setting name="ak.commons.providers.logging.defaulttraceloggingprovider.enabled" type="System.Boolean" value="true" />
          <setting name="ak.commons.providers.logging.defaulttraceloggingprovider.messageformat" type="System.String" value="{TimeStamp} {ApplicationName} {LogLevel} {CallingMethod} {Message}" />
          <setting name="ak.commons.security.certificateprovider.provider" type="System.String" value="TestCertificateFactory" />
        </settings>
        <tokens></tokens>
      </application>
    </applicationSettings>
  </ak.commons.configuration>
</configuration>