@*******************************************************************************************************************************
 * AK.Login.Presentation.Views.Login.Main
 * Copyright © 2014 Aashish Koirala <http://aashishkoirala.github.io>
 * 
 * This file is part of AK-Login.
 *  
 * AK-Login is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * AK-Login is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with AK-Login.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *******************************************************************************************************************************@

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Central Login for Aashish Koirala's Applications</title>
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
        <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Hello, there.</h3>
            <hr/>
            This is the central login mechanism for all of my applications.
            Normally, you would get here when you navigate to one of my applications and needed to log in.
            Coming here just by yourself does not make much sense, though.
            You can find out more about my applications <a href="http://aashishkoirala.github.io">here</a>.
        </div>
    </body>
</html>